/* 
colors:

Vorgegeben:
blue: #3882c0
green: #86b654

Selbst hinzugefügt:
weiß: #fff
light-grey: #ddd
text-schwarz: #333
footer-link-hover: #eee

*/

html, body {
	height: 100%;
	width: 100%;
	color: #333;
}

h1, h2, h3, h4, h5 {
	color: #3882c0;
}

.navbar {
	background-color: #ddd;
	border-bottom: 5px solid #86b654;
}

/* Fix the anchor relative position because of the navigraiton */
.anchor {
	display: block;
	position: relative;
	top: -61px;
	visibility: hidden;
}

#home {
	background: url(pb/f5_small.jpg) no-repeat center center fixed;
	display: table;
	height: 50%;
	position: relative;
	width: 100%;
	background-size: cover;
}

.landing-text {
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
}
.landing-text img {
	padding-top: 100px;
	width: 700px;
	content:url("pb/logo.png")
}

.padding {
	margin: 80px 0 0 0;
}
.padding img {
	width: 100%;
}

.rowWithFullWidth {
	margin-left: 0px;
	margin-right: 0px;
}

#intro img {
	width: 350px;
	content:url("pb/f2_small.jpg")
}

#fixed {
	background: url(img/background.jpg) no-repeat center fixed;
	display: table;
	height: 60%;
	width: 100%;
	position: relative;
	background-size: cover;
}

footer {
	width: 100%;
	background-color: #86b654;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #fff;
}

footer h3, h4 {
	color: #fff;
}

footer a {
	text-decoration: underline;
	color: #fff;
}
footer a:hover {
	color: #eee;
}

.fa {
	padding: 15px;
	font-size: 25px;
	color: #fff;
	text-decoration: none;
}
.fa:hover {
	color: #eee;
	text-decoration: none;
}

#impressum {
	margin-top: 85px;
}

/*

Measurement graph d3 colors

*/
.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 2px;
}
